.grid_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px;
}

.grid_container.gap_1, 
.grid_item.gap_1 {
    padding: 2px;
}
.grid_container.gap_2, 
.grid_item.gap_2 {
    padding: 4px;
}
.grid_container.gap_3, 
.grid_item.gap_3 {
    padding: 6px;
}

.grid_item {
    padding: 0px;
}

.grid_item.sm_1 {
    width: calc(100%/12 * 1);
}
.grid_item.sm_2 {
    width: calc(100%/12 * 2);
}
.grid_item.sm_3 {
    width: calc(100%/12 * 3);
}
.grid_item.sm_4 {
    width: calc(100%/12 * 4);
}
.grid_item.sm_5 {
    width: calc(100%/12 * 5);
}
.grid_item.sm_6 {
    width: calc(100%/12 * 6);
}
.grid_item.sm_7 {
    width: calc(100%/12 * 7);
}
.grid_item.sm_8 {
    width: calc(100%/12 * 8);
}
.grid_item.sm_9 {
    width: calc(100%/12 * 9);
}
.grid_item.sm_10 {
    width: calc(100%/12 * 10);
}
.grid_item.sm_11 {
    width: calc(100%/12 * 11);
}
.grid_item.sm_12 {
    width: calc(100%/12 * 12);
}

@media only screen and (min-width: 640px) { 
    .grid_item.md_1 {
        width: calc(100%/12 * 1);
    }
    .grid_item.md_2 {
        width: calc(100%/12 * 2);
    }
    .grid_item.md_3 {
        width: calc(100%/12 * 3);
    }
    .grid_item.md_4 {
        width: calc(100%/12 * 4);
    }
    .grid_item.md_5 {
        width: calc(100%/12 * 5);
    }
    .grid_item.md_6 {
        width: calc(100%/12 * 6);
    }
    .grid_item.md_7 {
        width: calc(100%/12 * 7);
    }
    .grid_item.md_8 {
        width: calc(100%/12 * 8);
    }
    .grid_item.md_9 {
        width: calc(100%/12 * 9);
    }
    .grid_item.md_10 {
        width: calc(100%/12 * 10);
    }
    .grid_item.md_11 {
        width: calc(100%/12 * 11);
    }
    .grid_item.md_12 {
        width: calc(100%/12 * 12);
    }
}
@media only screen and (min-width: 1024px) {
    .grid_item.lg_1 {
        width: calc(100%/12 * 1);
    }
    .grid_item.lg_2 {
        width: calc(100%/12 * 2);
    }
    .grid_item.lg_3 {
        width: calc(100%/12 * 3);
    }
    .grid_item.lg_4 {
        width: calc(100%/12 * 4);
    }
    .grid_item.lg_5 {
        width: calc(100%/12 * 5);
    }
    .grid_item.lg_6 {
        width: calc(100%/12 * 6);
    }
    .grid_item.lg_7 {
        width: calc(100%/12 * 7);
    }
    .grid_item.lg_8 {
        width: calc(100%/12 * 8);
    }
    .grid_item.lg_9 {
        width: calc(100%/12 * 9);
    }
    .grid_item.lg_10 {
        width: calc(100%/12 * 10);
    }
    .grid_item.lg_11 {
        width: calc(100%/12 * 11);
    }
    .grid_item.lg_12 {
        width: calc(100%/12 * 12);
    }
}