.caurosel_image_container {
    width: 100%;
    margin: 0;
    height: 100%;
    position: inherit;
}

.caurosel_image, 
.active_image {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    transition-timing-function: linear;
    opacity: 0.5;
}
.caurosel_image {
    display: none;
}

.active_image.caurosel_image {
    display: block;
    opacity: 1;
    animation-name: caurosel_animation_opacity;
    animation-duration: 1s;
}

.caurosel_image > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@keyframes caurosel_animation_opacity {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
.ontop_heading_image {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    justify-content: center;
    text-align: center;
    padding: 0 5vw 0 5vw;
}
.dot_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    justify-content: center;
}

.dot_container > * {
    margin: 2px;
}
.caurosel_image_dot {
    height: 20px;
    width: 20px;
    background: transparent;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    filter: brightness(0.8);
}

.caurosel_image_dot:hover{
    filter: brightness(1);
}
.caurosel_image_dot.active_image_dot:hover {
    filter: brightness(0.8);
}
.caurosel_image_dot.active_image_dot {
    background: white;
}

.arrow_button {
    position: absolute;
    top: 42%;
    color: var(--background-alpha);
    filter: brightness(0.8);
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    background: var(--text-alpha);
    cursor: pointer;
    border-radius: 100%;
}
.arrow_button:hover {
    filter: brightness(1);
}

.arrow_button.left_arrow {
    left: 5px;
}
.arrow_button.right_arrow {
    right: 5px;
}
@media (max-width: 640px) { 
    .arrow_button {
        display: none;
    }
}