.footer {
    margin-top: auto;
    min-height: 300px;
    background-color: var(--background-beta);
    -webkit-box-shadow: 0 0 5px 2px var( --background-beta);
    -moz-box-shadow: 0 0 5px 2px var( --background-beta);
    box-shadow: 0 0 5px 2px var(--background-beta);
}